@import 'shared/fonts.scss';

#day-card {
  padding: 0.25rem 0.25rem 0.5rem 0.25rem;
  font-size: $font-small;
  height: 100%;
  min-width: 15rem;
  min-height: 5rem;
  background-color: var(--clr-main);
}

.day-card-expired {
  background-color: var(--clr-help) !important;
  box-shadow: none !important;
}

.day-card-tasks-view {
  height: 100%;
}

.day-card-add-task {
  padding-left: 0.75rem;
  cursor: pointer;
}

.all-day-item {
  text-align: right;

  .task-item {
    color: var(--clr-text-secondary);
  }
}
