[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
tab_width = 4

[{*.har,*.inputactions,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2

[*.csproj]
indent_size = 2

[{*.yaml,*.yml}]
indent_size = 2

[*.scss]
indent_size = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2

# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/configuration-options#severity-level
# error, warning, suggestion, silent, default, none
[*.cs]
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_style_parentheses_in_arithmetic_binary_operators = never_if_unnecessary
csharp_style_namespace_declarations = file_scoped
csharp_style_var_when_type_is_apparent = true
csharp_style_var_for_built_in_types = true
csharp_style_var_elsewhere = true
csharp_prefer_braces = when_multiline
dotnet_code_quality.CA1716.analyzed_symbol_kinds = NamedType,Method,Property,Event,Parameter # Namespace
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.CS1591.severity = none
dotnet_diagnostic.CA1861.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1129.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1407.severity = none
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1649.severity = none
