.DS_Store
.idea
bin/
obj/
wwwroot/
*ocelot.Development.json
*appsettings.Development.json
*appsettings.Staging.json
*appsettings.Production.json
CI/artifacts/
node_modules
build
.env
infrastructure/tests/results
