.DS_Store
.idea
DarkDeeds/DarkDeeds.sln.DotSettings.user

DarkDeeds/DarkDeeds.Api/obj
DarkDeeds/DarkDeeds.Api/bin
DarkDeeds/DarkDeeds.Services/bin
DarkDeeds/DarkDeeds.Services/obj
DarkDeeds/DarkDeeds.Common/obj
DarkDeeds/DarkDeeds.Common/bin
DarkDeeds/DarkDeeds.Data/obj
DarkDeeds/DarkDeeds.Data/bin
DarkDeeds/DarkDeeds.Tests/obj
DarkDeeds/DarkDeeds.Tests/bin
DarkDeeds/DarkDeeds.BotIntegration/obj
DarkDeeds/DarkDeeds.BotIntegration/bin
DarkDeeds/DarkDeeds.Entities/obj
DarkDeeds/DarkDeeds.Entities/bin
DarkDeeds/DarkDeeds.Infrastructure/obj
DarkDeeds/DarkDeeds.Infrastructure/bin
DarkDeeds/DarkDeeds.Auth/obj
DarkDeeds/DarkDeeds.Auth/bin
DarkDeeds/DarkDeeds.EfCoreExtensions/obj
DarkDeeds/DarkDeeds.EfCoreExtensions/bin
DarkDeeds.E2eTests/obj
DarkDeeds.E2eTests/bin

DarkDeeds/DarkDeeds.Api/wwwroot
appsettings.Development.json
appsettings.Production.json
CI/artifacts/