DarkDeeds/DarkDeeds/obj
DarkDeeds/.idea
DarkDeeds/DarkDeeds/bin
DarkDeeds/DarkDeeds.Api/obj
DarkDeeds/DarkDeeds.Api/bin
DarkDeeds/DarkDeeds.Models/obj
DarkDeeds/DarkDeeds.Services/bin
DarkDeeds/DarkDeeds.Services/obj
DarkDeeds/DarkDeeds.Models/bin
DarkDeeds/DarkDeeds.Api/wwwroot
