@import 'shared/colors.scss';
@import 'shared/fonts.scss';

.day-card-header {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: $font-smaller;
    cursor: pointer;
    color: $color-primary-text;
    border-bottom: 1px solid $color-day-header-border;
    margin-bottom: 0.2rem;
}

.day-card-header-selected {
    border-radius: 2px;
    background: $color-item-selected;
}
