.day-card-header {
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.day-card-header-selected {
    border-radius: 2px;
    background: rgba(191, 214, 229, 0.1);
}
