@import 'shared/colors.scss';

#day-card {
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
    font-size: 0.8rem;
    height: 100%;
    min-width: 15rem;
    min-height: 5rem;
    background-color: $color-day-default;
}

#day-card .list {
    margin-top: 0;
}

.day-card-expired {
    background-color: $color-day-expired !important;
    box-shadow: none !important;
}

.day-card-tasks-view {
    height: 100%;
}

@media screen and (min-width: 1200px) {
    #day-card {
        min-width: 13rem;
    }
}

.day-card-add-task {
    padding-left: 0.75rem;
    cursor: pointer;
}

.all-day-item {
    text-align: center;
    color: $color-secondary-text;
}

.all-day-item:last-child {
    padding-bottom: 0.25rem !important;
    border-bottom: 1px solid $color-secondary-text;
}
