#day-card {
    padding: 0.25rem 0.25rem 0.5rem 0.25rem;
    font-size: 0.8rem;
    height: 100%;
    min-width: 15rem;
    min-height: 5rem;
}

#day-card .list {
    margin-top: 0;
}

.day-card-expired {
    background-color: #1F2329 !important;
    box-shadow: none !important;
}

.day-card-tasks-view {
    height: 100%;
}

@media screen and (min-width: 1200px) {
    .day-card-tasks-view {
        min-width: 9rem;
    }
}

.day-card-add-task {
    padding-left: 0.75rem;
    cursor: pointer;
}

.day-card-header-hover {
    background: rgba(191, 214, 229, 0.5) !important;
}

.all-day-item {
    text-align: center;
}

.all-day-item:last-child {
    padding-bottom: 0.25rem !important;
    border-bottom: 1px solid white;
}
