// common list adjustments
.fixed-list.list .item::before {
    margin-top: 0.1rem;
}

.fixed-list.list {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.ui.accordion .title {
    color: var(--clr-text-primary) !important;
}

.ui.bulleted.list>.item {
    color: var(--clr-text-primary)
}