
@import 'shared/colors.scss';
@import 'shared/fonts.scss';

#recurrences-view {

    .recurrences-view-recurrence-list {
        margin-top: 1rem;

        .segment {
            cursor: pointer;
        }
    }

    .recurrences-view-recurrence-item {
        font-size: $font-less-normal;
    }

    .recurrences-view-empty-state {
        font-size: $font-less-normal;
    }

    .recurrences-view-side-panel {
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        button {
            min-width: 9.5rem;
        }
    }
}
