
@import 'shared/colors.scss';
@import 'shared/fonts.scss';

#recurrences-view {

    .recurrences-view-recurrence-list {
        margin-top: 1rem;

        @media (max-width: 767px) {
            margin-top: -1rem;
        }

        .segment {
            cursor: pointer;
        }
    }

    .recurrences-view-recurrence-item {
        font-size: $font-less-normal;

        .recurrences-view-recurrence-item-borders {
            color: $color-secondary-text;
            padding-left: 1rem;
        }

        .recurrences-view-recurrence-item-form  {
            @media (max-width: 767px) {
                .field {
                    padding-top: 0.3rem;
                    padding-bottom: 0.3rem;
                    width: 100%;
                }
            }
            @media (min-width: 768px) {
                .field, [role='option'], .label {
                    font-size: $font-small;
                }
            }
        }
    }

    .recurrences-view-empty-state {
        font-size: $font-less-normal;
    }

    .recurrences-view-side-panel {
        width: 100%;
        margin-left: 0;
        margin-right: 0;

        button {
            min-width: 100%;
        }

        @media (max-width: 767px), (min-width: 992px) {
            .recurrences-view-side-panel-group-1 button {
                min-width: 8rem;
            }

            .recurrences-view-side-panel-group-2 button {
                min-width: 12rem;
            }
        }
    }
}
