
@import 'shared/colors.scss';
@import 'shared/fonts.scss';

.recurrences-view-recurrence-list {
    margin-top: 1rem;

    .segment {
        cursor: pointer;
    }
}

.recurrences-view-recurrence-item {
    font-size: $font-less-normal;
}
