.task-item {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    margin-left: -0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.task-item:hover, .task-item:active {
    border-radius: 2px;
    background: rgba(191, 214, 229, 0.5);
}

.task-item-completed {
    text-decoration: line-through;
    color: #969696;
}