html {
    font-size: 16px;
}

body {
    background-color: var(--clr-base);
}

/* Adjust semantic-ui styles */
#root {
    .ui.inverted.segment {
        background-color: var(--clr-main);
        color: var(--clr-text-primary);

        &.raised {
            box-shadow: 0 2px 4px 0 var(--clr-shadow-solid), 0 2px 10px 0 var(--clr-shadow-solid);
        }

        .ui.header {
            color: var(--clr-text-primary);
        }
    }

    .ui.form .field label, .ui.checkbox label {
        color: var(--clr-text-primary);
    }

    .ui.container {
        padding-bottom: 3rem;
    }
}

@import 'styles/shared/device-adjustments.scss';
@import 'styles/shared/colors.scss';