html {
    font-size: 16px;
}

body {
    background-color: var(--clr-base);
}

.ui.container {
    padding-bottom: 3rem;
}

/* Adjust semantic-ui to use our colors */
#root .ui.inverted.raised.segment {
    box-shadow: 0 2px 4px 0 var(--clr-shadow-solid), 0 2px 10px 0 var(--clr-shadow-solid);
    background-color: var(--clr-main);
    color: var(--clr-text-primary);

    .ui.header {
        color: var(--clr-text-primary);
    }
}

@import 'styles/shared/device-adjustments.scss';
@import 'styles/shared/colors.scss';