$color-base: #555555;
$color-dark-1: darken($color-base, 13.75%); // #323232
$color-dark-2: darken($color-base, 27%); // #101010

$color-background: $color-base;

$color-shadow-light: #0000004d;
$color-shadow-solid: #353A45;

$color-primary-text: #fdfdfd;
$color-secondary-text: #646464;

$color-day-expired: $color-dark-1;
$color-day-default: $color-dark-2;
$color-item-selected: $color-base;
$color-day-header-border: $color-base;

$color-success: #058909;
$color-error: #B43B2F;
$color-warn: #BE9B0C;
$color-info: #2875A8;

// palette not used
$not-used1: #777777;
$not-used1: #999999;
$old-cool-bg: #282c34;