.menu-popup {
  border: none !important;
  padding: 0 !important;
}

.menu-popup::before {
  background: #fff !important;
  box-shadow: none !important;
}

.menu-popup .menu {
  border: none !important;
  position: relative;
  z-index: 10;
}
