@import 'shared/fonts.scss';

.settings-divider {
  font-size: $font-small !important;
}

.settings-label {
  font-size: $font-less-normal !important;
}

.ui.checkbox label {
  font-size: $font-less-normal !important;
}
