.toast-success {
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);
    min-height: 45px;
    text-align: center;
    background-color: #058909; 
}

.toast-error {
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);
    min-height: 45px;
    text-align: center;
    background-color: #B43B2F;
}

.toast-warn {
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);
    min-height: 45px;
    text-align: center;
    background-color: #BE9B0C;
}

.toast-info {
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.3);
    min-height: 45px;
    text-align: center;
    background-color: #2875A8;
}
/*
.toast-progress {
}
*/