html {
  --clr-base: #555;
  --clr-main: #131313; // prev #101010
  --clr-help: #323232;
  --clr-help-2: #444446;

  --clr-text-primary: #fdfdfd;
  --clr-text-secondary: #646464;

  --clr-shadow: #353a45;

  --clr-success: #058909;
  --clr-error: #b43b2f;
  --clr-warn: #be9b0c;
  --clr-info: #2875a8;
}
